<head>
    <link rel="stylesheet" href="css/style.css">
</head>
<footer>
    <div id="Copyright">
        <h4>Polio</h4>
            <address>주소: 광주광역시 광산구 상무대로 312</address>
        <hr>
             <p>Copyright 우왕좌왕</p>
        </div>
        <div id="explain">
            <a href="#"><h3>이용약관</h3></a>
            <a href="#"><h3>개인정보처리방침</h3></a>
        </div>
        <div id="dis">
            <a href="https://discord.com">Discord</a>
        </div>
</footer>