<head>
  <link rel="stylesheet" href="css/style.css" />
</head>
<header>
  <a href="image/logo.png">
    <img class="logo" src="image/logo.png" alt="로고사진" />
    <h4 class="logo-name">폴리오</h4></a
  >
  <nav>
    <ul id="class">
      <li><a href="#">1학년</a></li>
      <li><a href="#">2학년</a></li>
      <li><a href="#">3학년</a></li>
      <li><a href="#">선생님</a></li>
    </ul>
  </nav>
  <div id="login">
    <ul>
      <li><a href="#">로그인 / 회원가입</a></li>
    </ul>
  </div>
</header>
