<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8">
        <title>Polio</title>
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <%- include("header") %>
        <main>
            <div id="month">
                <h3><b>December 2nd (12월 2주차)</b></h2>
            </div>
        </main>
        <%- include("footer") %>
    </body>
</html>
